
    <aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns="http://www.w3.org/1999/xhtml"
           xmlns:th="http://www.thymeleaf.org"
           xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <!-- Brand Logo -->
        <a th:href="@{/admin/dashboard}" class="brand-link">
            <img th:src="@{/image/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Admin</span>
        </a>

        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a th:href="@{/dashboard}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/employee}" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Employee
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/post}" class="nav-link">
                            <i class="nav-icon fab fa-telegram-plane"></i>
                            <p>
                                Posts
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/comment}" class="nav-link">
                            <i class="nav-icon far fa-comments"></i>
                            <p>
                                Comments
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/companies}" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Company
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/report}" class="nav-link">
                            <i class="nav-icon fas fa-flag"></i>
                            <p>
                                Report
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/feedback}" class="nav-link">
                            <i class=" nav-icon fas fa-comment-dots"></i>
                            <p>
                                Feedback
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </aside>

