<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" th:href="@{/css/employee-style.css}"/>
    <!--        jQuery-->
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/commentjs.js" th:src="@{/js/commentjs.js}"></script>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark" style="font-size: 0.5cm"><i class="fas fa-home fa-1x"></i> <i class="fas fa-chevron-right mx-2"></i>
                        Comment</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                           id="search_comment"
                                           placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" id="search_comment_button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th style="text-align: center;">Comment</th>
                                    <th style="text-align: center;">Commented-By</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment: ${comments.data}">
                                    <td th:text="${comment.id}" style="text-align: center;">1</td>
                                    <td th:text="${#strings.abbreviate(comment.description, 40)}"
                                        style="text-align: center;"></td>
                                    <td th:text="${comment.UserResponse.username}" style="text-align: center;">The boy
                                        with a frozen heart
                                    </td>
                                    <td th:text="${#dates.format(new java.util.Date(comment.createdDate))}"
                                        style="text-align: center;">28-01-2021
                                    </td>
                                    <td th:id="${'displayPostcustomSwitch'+ comment.id}"
                                        th:text="${comment.status ? 'Enabled' : 'Disabled'}"
                                        style="text-align: center;"></td>
                                    <td>
                                        <div style="display: flex;justify-content: space-between; margin: 0px">
                                            <!--                                             <span class="pointer">-->
                                            <!--                            <input data-size="xs" data-style="ios" data-toggle="toggle" class="setStatusBtn"  type="checkbox"></span>-->

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       th:checked="${comment.status} ? 'checked'"
                                                       th:id="${'customSwitch'+comment.id}">
<!--                                                <label class="custom-control-label pointer"-->
<!--                                                       th:onclick="'disable(\'customSwitch' + ${comment.id} + '\',\''+ ${comment.id} + '\');'"-->
<!--                                                       th:for="${'customSwitch'+comment.id}"></label>-->
                                                <label class="custom-control-label pointer"
                                                       th:onclick="'disable(\'customSwitch' + ${comment.id} + '\',\''+ ${comment.id} + '\');'"
                                                       th:for="${'customSwitch'+ comment.id}"></label>
                                            </div>
                                            <a class="pointer">
                                                <i class="fas fa-eye"
                                                   th:href="@{/get_single_comment/{id}(id=${comment.id})}"></i></a>
                                            <!--                                           d-->
                                        </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div th:if="${comments.pagination != null}">
                            <nav aria-label="Page navigation example" th:if="${comments.pagination.totalPages gt 1}">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item"
                                        th:classappend="${comments.pagination.pageNumber eq 0} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/comment/{page}(page=${comments.pagination.pageNumber lt 1 ? 0 : comments.pagination.pageNumber - 1})}"
                                           tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"
                                        th:class="${comments.pagination.pageNumber eq 0} ? 'disabled'"><a
                                            class="page-link"
                                            th:href="@{/comment_new_pagination/(pageSize=5, page=${comments.pagination.pageNumber})}">&laquo;</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${i eq comments.pagination.pageNumber + 1} ? 'active'"
                                        th:each="i : ${#numbers.sequence(pager.startPage, pager.endPage)}">
<!--                                        th:each="i : ${#numbers.sequence( 1, comments.pagination.totalPages, 1)}">-->
                                        <a class="page-link" th:href="@{/comment/{page}(page=${i - 1})}"
                                           th:text="${i}">1</a>
                                    </li>
                                    <li class="page-item"
                                            th:class="${comments.pagination.pageNumber + 1 eq comments.pagination.totalPages} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/comment_new_pagination/(pageSize=5, page=${comments.pagination.pageNumber + 2})}">&raquo;</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${comments.pagination.pageNumber + 1 eq comments.pagination.totalPages} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{'/comment/' + ${comments.pagination.pageNumber + 1}}"
                                        >Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div th:unless="${comments.pagination != null}">
                            <h4 style="text-align: center; padding: 20px;">Sorry, there is no result for this
                                comment.</h4>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </div>

    <!-- Comment Detail -->
    <div aria-modal="true" class="modal fade show" id="display-comment-modal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: bold">View Comment</h4>
                    <button id="close-display-comment" aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
<!--                    <div class="row">-->

<!--                        <div class="comment-column-modal">-->
<!--                            <ul class="p-0">-->
<!--                                <li class="no-bullet">-->
<!--                                    <div class="row comments mb-2">-->
<!--                                        <div class="col-md-2 col-sm-2 col-3 text-center user-img">-->
<!--                                            <img id="comment-profile-pic" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />-->
<!--                                        </div>-->
<!--                                        <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">-->
<!--                                            <h4 class="m-0 user-name-font" id="comment-username">Jacks David</h4>-->
<!--&lt;!&ndash;                                            <time class="text-white ml-3">1 hours ago</time>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <like></like>&ndash;&gt;-->
<!--                                            <p class="mb-0" id="comment-caption">Thank you for visiting all the way from New York.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <ul class="p-0">-->
<!--                                    <li class="no-bullet">-->
<!--                                        <div class="row comments mb-2">-->
<!--&lt;!&ndash;                                            <div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img id="reply-profile-pic" src="http://nicesnippets.com/demo/man02.png" class="rounded-circle" />&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <h4 class="m-0 user-name-font" id="reply-username">Steve Alex</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p class="mb-0" id="reply-caption">Thank you for visiting all the way from NYC.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </ul>-->

<!--                        </div>-->
<!--                    </div>-->

                    <div class="container">
<!--                        <div class="row mt-5">-->
                            <div class="col-md-12 col-sm-6 col-12 comments-main pt-4 rounded">
                                <ul class="p-0">
                                    <li>
                                        <div class="row comments mb-2">
                                            <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                                                <img id="comment-profile-pic" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
                                            </div>
                                            <div  class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                                                <h4 id="comment-username" class="m-0">Jacks David</h4>
                                                <p id="comment-caption" class="mb-0 ">Thank you for visiting all the way from New York.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <ul id="reply-list" class="p-0">
<!--                                        <li>-->
<!--                                            <div class="row comments mb-2">-->
<!--                                                <div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">-->
<!--                                                    <img  src="http://nicesnippets.com/demo/man02.png" class="rounded-circle" />-->
<!--                                                </div>-->
<!--                                                <div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">-->
<!--                                                    <h4 class="m-0">Steve Alex</h4>-->
<!--                                                    <p class="mb-0 text-white">Thank you for visiting all the way from NYC.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                    </ul>
                                </ul>
                            </div>
<!--                        </div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

            <div aria-modal="true" class="modal fade show" id="delete-modal" role="dialog" style="display: none;">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title modal-warning-title">Warning</h4>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 style="text-align: center">Do you want to delete this comment?</h4>
                        </div>
                        <div class="delete-buttons-wrapper">
                            <a class="btn btn-danger text-white">
                                Delete
                            </a>
                            <a class="btn btn-primary text-white" data-dismiss="modal" type="button">
                                Cancel
                            </a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div aria-modal="true" class="modal fade show" id="set-status-modal" role="dialog" style="display: none;">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title modal-warning-title">Warning</h4>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 style="text-align: center">Do you want to delete this comment?</h4>
                        </div>
                        <div class="delete-buttons-wrapper">
                            <a class="btn btn-danger text-white" id="btn-disable-enable">
                                Delete
                            </a>
                            <a class="btn btn-primary text-white">
                                Cancel
                            </a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

</div>
<!--<script th:inline="javascript">-->
<!--    var name = /*[[${user.firstName + ' ' + user.lastName}]]*/ "John Deo";-->
<!--    var email = /*[[${user.email}]]*/ "john@example.com";-->
<!--    var age = /*[[${user.age}]]*/ 25;-->
<!--    var createdAt = /*[[${user.created}]]*/ "January 29, 2020";-->
<!--    $('.table .fa-eye').on('click', function(event){-->
<!--        event.preventDefault();-->
<!--        console.log("Hello from display comment")-->
<!--        var href = $(this).attr('href');-->
<!--        console.log(href + " href")-->
<!--        $.get(href, function(comment){-->
<!--            console.log(comment)-->
<!--            var img;-->
<!--            if(comment.data.userResponse.imageUrl==null){-->
<!--                console.log("profile pic is empty")-->
<!--                img="https://cel.ac/wp-content/uploads/2016/02/placeholder-img-1.jpg"-->
<!--            }else{-->
<!--                img=comment.data.userResponse.imageUrl-->
<!--            }-->
<!--            $('#comment-username').text(comment.data.userResponse.username);-->
<!--            $('#comment-caption').text(comment.data.description);-->
<!--            $('#comment-profile-pic').attr('src', img);-->
<!--            $('#comment-replies').object(comment.data.replyList)-->
<!--        });-->
<!--        $('#display-comment-modal').modal();-->
<!--    });-->
<!--</script>-->
</body>
</html>
