<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <!--        jQuery-->
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/postjs.js" th:src="@{/js/postjs.js}"></script>
</head>

<body>
<div layout:fragment="mainContent">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark" style="font-size: 0.5cm"><i class="fas fa-home fa-1x"></i> <i class="fas fa-chevron-right mx-2"></i>
                        Post</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" id="search_post"
                                           placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"  id="search_post_button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th style="text-align: center;">Image</th>
                                    <th style="text-align: center;">Created Date</th>
                                    <th>Status</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post: ${posts.data}">
                                    <td th:text="${post.id}"></td>
                                    <td th:text="${post.UserResponse.username}"></td>
                                    <td th:if="${not #lists.isEmpty(post.images)}" style="text-align: center; padding: 5px">
                                        <img style="width: 50px;height: 50px; object-fit: cover;" th:src="${post.images[0]}" class="rounded post-image" alt="...">
<!--                                        <img style="width: 50px;height: 50px; object-fit: cover;" th:src="@{/image/image-placeholder-big.jpg}" class="rounded post-image"-->
<!--                                             alt="...">-->
                                    </td>
                                    <td th:unless="${not #lists.isEmpty(post.images)}" style="text-align: center; padding: 5px">
                                        <img style="width: 50px;height: 50px; object-fit: cover;" th:src="@{/image/image-placeholder-big.jpg}" class="rounded post-image" alt="...">
                                    </td>
                                    <td style="text-align: center;"
                                        th:text="${#dates.format(new java.util.Date(post.createdDate))}"></td>
                                    <td th:id="${'displayStatuscustomSwitch'+ post.id}"  th:text="${post.status ? 'Enabled' : 'Disabled'}"><span class="tag tag-success"></span></td>
                                    <td>
                                        <div style="display: flex;justify-content: space-between; margin: 0px">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       th:checked="${post.status} ? 'checked'"
                                                       th:id="${'customSwitch'+post.id}">
                                                <label class="custom-control-label pointer"
                                                       th:onclick="'disable(\'customSwitch' + ${post.id} + '\',\''+ ${post.id} + '\');'"
                                                       th:for="${'customSwitch'+post.id}"></label>
                                            </div>
                                            <a class="pointer">
                                                <i class="far fa-eye"
                                                   th:href="@{/get_single_post/{id}(id=${post.id})}"></i></a>
<!--                                            <a class="pointer">-->
<!--                                                <i class="far fa-trash-alt"-->
<!--                                                   th:href="@{/delete_post/{id}(id=${post.id})}" id="deleteButton"></i>-->
<!--                                            </a>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div th:if="${posts.pagination != null}">
                        <nav aria-label="Page navigation example" th:if="${posts.pagination.totalPages gt 1}">
                            <ul class="pagination justify-content-end">
                                <li class="page-item" th:classappend="${posts.pagination.pageNumber eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/post/{page}(page=${posts.pagination.pageNumber lt 1 ? 0 : posts.pagination.pageNumber - 1})}"
                                       tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"
                                    th:class="${posts.pagination.pageNumber eq 0} ? 'disabled'"><a
                                        class="page-link"
                                        th:href="@{/post/{page}(page=${posts.pagination.pageNumber})}">&laquo;</a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${i eq posts.pagination.pageNumber + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                    <a class="page-link" th:href="@{/post/{page}(page=${i - 1})}" th:text="${i}">1</a>
                                </li>
                                <li class="page-item"
                                    th:class="${posts.pagination.pageNumber + 1 eq posts.pagination.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/post/{page}(page=${posts.pagination.pageNumber + 2})}">&raquo;</a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${posts.pagination.pageNumber + 1 eq posts.pagination.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/post/' + ${posts.pagination.pageNumber + 1}}"
                                    >Next</a>
                                </li>
                            </ul>
                        </nav>
                        </div>
                        <div th:unless="${posts.pagination != null}">
                            <h4 style="text-align: center; padding: 20px;">Sorry, there is no result for this post.</h4>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </div>

    <!-- Post Detail -->
    <div aria-modal="true" class="modal fade show" id="display-post-modal" role="dialog" th:attrappend="id=${post}"
         style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: bold">View Post</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="postUsername">Tann Venghok</h4>
                    <p id="postCreatedDate">Created Date : 28-01-2021</p>
                    <p id="postCaption">The art of being happy is to be statified with what you have</p>
                    <div style="text-align: center;">
                        <img id="postImage" th:src="@{/image/image-placeholder-big.jpg}"
                             style="width: 460px; height: 250px;object-fit: cover;" class="rounded post-image-modal"
                             alt="..."></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--    delete modal-->
    <div aria-modal="true" class="modal fade show" id="delete-modal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modal-warning-title">Warning</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 style="text-align: center">Do you want to delete this post?</h4>
                </div>
                <div style="text-align: right;
    padding: 15px;" class="delete-buttons-wrapper">
                    <a href="" class="btn btn-danger text-white" id="delRef">Delete</a>
                    <a class="btn btn-primary text-white">Cancel</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--    set status modal-->
    <div aria-modal="true" class="modal fade show" id="set-status-modal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modal-warning-title">Warning</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 style="text-align: center">Do you want to change the status of this post to true?</h4>
                </div>
                <div style="text-align: right;
    padding: 15px;" class="delete-buttons-wrapper">

                    <a href="" class="btn btn-danger text-white" id="btn-disable-enable">
                        Yes
                    </a>
                    <a class="btn btn-primary text-white" data-dismiss="modal" type="button">
                        Cancel
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

</body>
</html>

