<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <!--        jQuery-->
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/reportjs.js" th:src="@{/js/reportjs.js}"></script>
</head>

<body>
<div layout:fragment="mainContent">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark" style="font-size: 0.5cm"><i class="fas fa-home fa-1x"></i> <i class="fas fa-chevron-right mx-2"></i>
                        Report</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
<!--                        <div class="card-header">-->
<!--                            <div class="card-tools">-->
<!--                                <div class="input-group input-group-sm" style="width: 150px;">-->
<!--                                    <input type="text" name="table_search" class="form-control float-right" id="search_post"-->
<!--                                           placeholder="Search">-->

<!--                                    <div class="input-group-append">-->
<!--                                        <button type="submit" class="btn btn-default"  id="search_post_button">-->
<!--                                            <i class="fas fa-search"></i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="text-align: center;">Full Name</th>
                                    <th style="text-align: center;">Description</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="report: ${reports.data}">
                                    <td th:text="${report.id}"></td>
                                    <td style="text-align: center;" th:if="${report.userResponse != null}" th:text="${report.userResponse.username}"></td>
                                    <td style="text-align: center;" th:unless="${report.userResponse != null}" >No Name</td>
                                    <td style="text-align: center;" th:text="${report.description}">Fake news</td>

                                    <td style="text-align: center;">
                                        <div style="display: flex;justify-content: space-between; margin: 0px">
                                            <a class="pointer">
                                                <i class="far fa-eye"
                                                   th:href="@{/get_single_post/{id}(id=${report.post.id})}"></i></a>
                                            <a class="pointer">
                                                <i class="far fa-trash-alt" th:href="@{/delete_report/{id}(id=${report.id})}" id="deleteButton"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div th:if="${reports.pagination != null}">
                            <nav aria-label="Page navigation example" th:if="${reports.pagination.totalPages gt 1}">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item" th:classappend="${reports.pagination.pageNumber eq 0} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/report/{page}(page=${reports.pagination.pageNumber lt 1 ? 0 : reports.pagination.pageNumber - 1})}"
                                           tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"
                                        th:class="${reports.pagination.pageNumber eq 0} ? 'disabled'"><a
                                            class="page-link"
                                            th:href="@{/report/{page}(page=${reports.pagination.pageNumber})}">&laquo;</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${i eq reports.pagination.pageNumber + 1} ? 'active'"
                                        th:each="i : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                        <a class="page-link" th:href="@{/report/{page}(page=${i - 1})}" th:text="${i}">1</a>
                                    </li>
                                    <li class="page-item"
                                        th:class="${reports.pagination.pageNumber + 1 eq reports.pagination.totalPages} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/report/{page}(page=${reports.pagination.pageNumber + 2})}">&raquo;</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${reports.pagination.pageNumber + 1 eq reports.pagination.totalPages} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{'/report/' + ${reports.pagination.pageNumber + 1}}"
                                        >Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div th:unless="${reports.pagination != null}">
                            <h4 style="text-align: center; padding: 20px;">Sorry, there is no result for this page.</h4>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </div>

    <!-- Post Detail -->
    <div aria-modal="true" class="modal fade show" id="display-post-modal" role="dialog" th:attrappend="id=${post}"
         style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: bold">Reported Post</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="postUsername">Tann Venghok</h4>
                    <p id="postId">Post ID: </p>
                    <p id="postCreatedDate">Created Date : 28-01-2021</p>
                    <p id="postCaption">The art of being happy is to be statified with what you have</p>
                    <div style="text-align: center;">
                        <img id="postImage" th:src="@{/image/image-placeholder-big.jpg}"
                             style="width: 460px; height: 250px;object-fit: cover;" class="rounded post-image-modal"
                             alt="..."></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--    delete modal-->
    <div aria-modal="true" class="modal fade show" id="delete-modal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modal-warning-title">Warning</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 style="text-align: center">Do you want to delete this report?</h4>
                </div>
                <div style="text-align: right;
    padding: 15px;" class="delete-buttons-wrapper">
                    <a href="" class="btn btn-danger text-white" id="delRef">Delete</a>
                    <a class="btn btn-primary text-white">Cancel</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

</body>
</html>


